<p id="notice"><%= notice %></p>


<center> 
<h1>Minhas Tarefas</h1>

<div class="container" >

  <div class="row">
    <% @tarefas.each do |tarefa| %>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= tarefa.title %></h5>
              <strong>Descrição</strong>
              <p class="card-text"><%= tarefa.body.truncate_words(3) %></p>
              <strong>Usuário</strong>
              <p class="card-text"><%= tarefa.user.username %></p>
              <%= link_to 'Ler', tarefa, class: 'btn btn-primary' %>
              <%= link_to 'Editar', edit_tarefa_path(tarefa), class: 'btn btn-warning' %>
              <%= link_to 'Exluir', tarefa, method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
  <%end%>
  </div>
  
</div>

<br>
<div class="col-md-4">
      <p>
        <%= link_to 'Nova Tarefa', new_tarefa_path, class: 'btn btn-success btn-lg' %><br>
      </p>
</div>
