<div class="container">
  
  <div class="row">
  <div class="col-sm-4">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title"><%= @tarefa.title %></h5>
        <strong>Descrição:</strong>
          <p class="card-text"><%= @tarefa.body %></p>
        <strong>Data:</strong>
          <p class="card-date"><%= @tarefa.date %></p>
        <strong>Usário:</strong>
          <p class="card-text"><%= @tarefa.user.username %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
  </div>
  </div>

</div>



<p>
  <strong>Título:</strong>
  <%= @tarefa.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @tarefa.body %>
</p>

<p>
  <strong>Data:</strong>
  <%= @tarefa.date %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @tarefa.user.username %>
</p>

<%= link_to 'Editar', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Voltar', tarefas_path %>
