
<div class="container">

  <div class="row">
  <div class="col-sm-4">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title"><%= @tarefa.title %></h5>
        <strong>Descrição:</strong>
          <p class="card-text"><%= @tarefa.body %></p>
        <strong>Data:</strong>
          <p class="card-date"><%= @tarefa.date %></p>
        <strong>Usário:</strong>
          <p class="card-text"><%= @tarefa.user.username %></p>
        <%= link_to 'Editar', edit_tarefa_path(@tarefa), class: "btn btn-warning" %> 
        <%= link_to 'Voltar', tarefas_path, class: "btn btn-info" %>
      </div>
    </div>
    </div>
  </div>
  </div>
 
</div>