<center>
  <div class="container">
    

  <h2>Mude Sua Senha</h2>
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <div class="field">
          <% if @minimum_password_length %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Novo password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmação password" %>
        </div>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
          <% end %>
        
        <div class="actions">
          <%= f.submit "Mudar minha senha", class: "btn btn-lg btn-outline-warning btn-block" %>
        </div>
      
      <% end %>

    <%= render "devise/shared/links" %>
    
    </div>
  </div>
<center>